<div style="text-align:center">
  <a (click)="voltarParaHome()"><img width="150" alt="Angular Logo" src="http://scc4.com.br/images/logo_scc4.png"></a>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
