<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/destinatarios']">Voltar para lista de Remetentes</a>
  </div>
  <mat-card-title>Enviar Mensagens para Destinatários</mat-card-title>
  <mat-card class="example-card">
    <form [formGroup]="remetenteForm" (ngSubmit)="onFormSubmit(remetenteForm.value)">
      <mat-form-field class="example-full-width">
        <mat-label>Selecione o Remetente</mat-label>
          <mat-select formControlName="remetente">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let remetente of remetentes" [value]="remetente.nome">{{remetente.nome}}</mat-option>
          </mat-select>
        <mat-error>
          <span *ngIf="!remetenteForm.get('remetente').valid && remetenteForm.get('remetente').touched">Por favor informe seu remetente</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Selecione o(s) destinatário(s)</mat-label>
        <mat-select formControlName="destinatarios" multiple>
          <mat-option *ngFor="let destinatario of destinatarios" [value]="destinatario">{{destinatario.nome}}</mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!remetenteForm.get('destinatarios').valid && remetenteForm.get('destinatarios').touched">Por favor informe seu destinatários</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea  matInput placeholder="Digite sua mensagem para os destinatários" formControlName="mensagem"></textarea>
        <mat-error>
          <span *ngIf="!remetenteForm.get('mensagem').valid && remetenteForm.get('mensagem').touched">Por favor digite sua mensagem para o(s) destinatário(s)</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!remetenteForm.valid" mat-flat-button color="primary">Enviar Mensagem</button>
      </div>
    </form>
  </mat-card>
</div>

<h4>Logs:</h4>
<pre>{{log}}</pre>

