<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-stroked-button  color="primary" [routerLink]="['/remetentes']">Voltar para lista de remetentes</a>
  </div>
  <div mat-card-title>
    <span class="mat-title">Importar CSV de Destinatários: </span>
    <input mat-flat-button color="primary" type="file" #csvReader name="Importar CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
  </div>
  <table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">
    <ng-container matColumnDef = "nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef = "let element"> {{element.nome}} </td>
    </ng-container>
    <ng-container matColumnDef = "telefone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef = "let element"> {{element.telefone}} </td>
    </ng-container>
    <ng-container matColumnDef = "email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef = "let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef = "cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef = "let element"> {{element.cpf}} </td>
    </ng-container>
    <ng-container matColumnDef = "endereco">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef = "let element"> {{element.endereco}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
  </table>
  <div class="button-row">
    <button [disabled]="!enableButton()" mat-flat-button color="primary" (click)="Importar()">Importar</button>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <div mat-card-title>
    <span class="mat-title">Destinatários: </span>
  </div>
  <table mat-table [dataSource] = "data" class = "mat-elevation-z8">
    <ng-container matColumnDef = "nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef = "let element"> {{element.nome}} </td>
    </ng-container>
    <ng-container matColumnDef = "telefone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef = "let element"> {{element.telefone}} </td>
    </ng-container>
    <ng-container matColumnDef = "email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef = "let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef = "cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef = "let element"> {{element.cpf}} </td>
    </ng-container>
    <ng-container matColumnDef = "endereco">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef = "let element"> {{element.endereco}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
  </table>
</div>
