<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-stroked-button color="primary" [routerLink]="['/remetentes']">Voltar para lista de Remetentes</a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h3>{{remetente.nome}}</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Telefone:</dt>
        <dd>{{remetente.telefone}}</dd>
        <dt>E-mail:</dt>
        <dd>{{remetente.email}}</dd>
        <dt>CPF:</dt>
        <dd>{{remetente.cpf}}</dd>
        <dt>Endereço:</dt>
        <dd>{{remetente.endereco}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/remetentes-editar', remetente.id]">Alterar</a>
      <a mat-flat-button color="warn" (click)="deleteRemetente(remetente.id)">Deletar</a>
    </mat-card-actions>
  </mat-card>
</div>
