<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="button-row">
    <a mat-stroked-button  color="primary" [routerLink]="['/destinatarios-importar']">Importar destinatários</a>
    <a mat-stroked-button  color="primary" [routerLink]="['/enviar-mensagem']">Enviar Mensagens</a>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="remetente_nome" matSortDisableClear matSortDirection="asc">

      <ng-container matColumnDef="remetente_nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>

      <ng-container matColumnDef="remetente_telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let row">{{row.telefone}}</td>
      </ng-container>

      <ng-container matColumnDef="remetente_email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/remetentes-detalhes/', row.id]"></tr>
    </table>

    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/remetentes-adicionar']">Adicionar um novo remetente</a>
    </div>
  </div>
</div>
